<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hướng dẫn sử dụng</title>
    <style>
        .container {
        width: 70%;
        max-width: 1400px;
        margin: 20px auto;
        padding: 20px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        }
        p{
        font-size: 1.2em;  
        }
    </style>
</head>

<body>
    <div class="container" >
    <h1>1. Sơ lược về DeltaX2</h1>
    <p>Là một robot delta giá cả phải chăng nhưng mang lại hiệu quả cao. Ngoài mục đích sử dụng trong giáo dục và nghiên cứu, nó còn có thể được sử dụng trong các ứng dụng tự động hóa trong sản xuất. Delta X 2 là phiên bản nâng cấp của Delta X 1 về mọi mặt.</p>
    <h1>2. Hướng dẫn sử dụng trang điều khiển từ xa</h1>
    <p>Tải thư viện ở biểu tượng nơi góc phải màn hình</p>
    <img src="static/img/home.png" alt="home" height="450px" width="900px">
    <p>- Bấm vào Dowload Zip để tải xống thư viện</p>
    <img src="static/img/dowload.png" alt="dowload" height="450px" width="900px" >
    <p>Sau khi tải xuống và giải nén ra và cho vào folder tùy ý, ta sẽ được 2 file như hình, bạn có thể mở file example để chạy thử hoặc tạo 1 file python cùng chung folder để code.</p>
    <img src="static/img/file.png" alt="file">
    <p>Mở file example.py bằng visual studio code</p>
    <img src="static/img/openfile.png" alt="openfile" width="650px" height="500px">
    <p>Bạn có thể chạy thử file example để xem kết quả (nhớ cài extension python nhé!):</p>
    <img src="static/img/example.png" alt="example" width="450px" height="650px">
    <p>Kết quả như hình là thành công, bây giờ các bạn tới trang điều khiển</p>
    <img src="static/img/remote1.png" alt="remote1" width="900px" height="450px">
    <p>Có 3 khu vực chính: <br>
        Khu vực 1: Các bạn có thể quan sát robot chuyển động qua 2 camera này <br>
        Khu vực 2: Code python trực tiếp ở đây hoặc dán code soạn thảo trong visual studio code vào và bấm run
    </p>
    <img src="static/img/area2.png" alt="area2" width="850px" height="450px" >
    <p>Hiện thông báo nạp code thành công là ok, nhớ chạy chương trình thử trong visual studio code, khi chương trình được thực thi sẽ có thông báo kèm tên của người dùng phía trên, nếu không phải bạn vui lòng đợi 1 lát sẽ đến lượt</p>
    <p>Khu vực 3: Tải file python của các bạn lên đây để nạp chương trình. Tiến hành chọn file sau đó bấm upload script</p>
    <img src="static/img/uploadfile.png" alt="upload file" width="900px" >
    <p>Hiện thông báo upload script thành công là ok nhé</p>

</div>
</body>
</html>